<%- include("header") -%>

  <div class="box" id="heading">
    <h1> <%= listTitle %> </h1>
  </div>

  <div class="box"> 
    <% newListItems.forEach(function(item){ %>
      <!-- // form for checkbox to delete list item  -->
      <form action="/delete" method="post">
        <div class="item">
          <input type="checkbox" name="checkbox" value="<%=item._id %>" onChange="this.form.submit()">
          <p> <%=  item.name  %></p>
        </div>
        <!-- // new input hidden to store value of listTitle example: home,work.. -->
        <!-- // to decide your current page( home page or customListbname Page) -->
        <input type="hidden" name="listName" value="<%= listTitle %>"> 

      </form>
    
      <% }) %>
      <!-- // Form to add new item when user submit new item -->
      <form class="item" action="/" method="post">
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
        <button type="submit" name="list" value="<%= listTitle %>">+</button>
      </form>
  </div>

<%- include("footer") -%>
